* {
    margin: 0;
    padding: 0;
}

/*font name*/
html {
    --font-Roboto Slab: 'Roboto Slab', serif;
}

div {
    background-color: #F2F2F2;
    width: 800px;
}

/*name of dishes*/
p:first-of-type {
    font-family: var(--font-Roboto);
    color: #B98E40;
    font-size: 24px;
    font-weight: bold;
    text-align: revert;
    display: inline;
    position: absolute;
    margin-left: 5px;
    margin-top: 6px;
    width: max-content;

}

/*Price*/
p:last-of-type {
    font-family: var(--font-Roboto);
    color: #B98E40;
    font-size: 24px;
    font-weight: bold;
    text-align: right;
    display: inline;
    position: absolute;
    margin-left: 499px;
    margin-top: 6px;
    width: max-content;
}

/*discription*/
p {
    font-size: 18px;
    width: 390px;
    margin-left: 190px;
    margin-top: -67px;
    position: absolute;
}

/*header*/
h1 {
    margin-left: 40px;
    padding-top: 6px;
}

/*foto&wave*/
img {
    margin-left: 40px;
}

/*Pseudoelement*/
.select::selection {
    background-color: aqua;
    color: white;